*
	margin: 0
	padding: 0
	box-sizing: border-box

/* verde/azul claro */
$cor-inicial: #9beab9

/* verde médio */
$cor-final: #77eb20

.carrossel
	width: 100%
	overflow-x: scroll
	white-space: nowrap
	space-between: 20px

.flexAlinhaColuna
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

body
	background: linear-gradient( $cor-inicial, $cor-final)
	@extend .flexAlinhaColuna

.containerImagens
	@extend .carrossel

img
	width: auto
	height: 250px

#ultimoCartaz
	width: 70vw
	height: auto

.containerInformacoes
	@extend .flexAlinhaColuna
	gap: 10px
	width: 100%

iframe
	max-width: 100vw

#iframeMaps
	width: 100%
	max-width: 100vw

.containerInformacoes p
	width: 100%
	text-align: center

h1
	margin: 40px

h3
	margin: 20px

.videoEquipe
	position: relative
	width: 100%

.convite, .contato, .containerImagens, .videoEquipe
	margin: 40px

.containerVideos
	display: flex
	flex-direction: column
	align-items: center

.contato
	@extend .flexAlinhaColuna
	gap: 1rem

.contatoIndividual
	@extend .flexAlinhaColuna
	width: 100%

a
	text-decoration: none

.alerta
	font-size: 11px

@media (max-width: 394px)
	.containerVideos
		gap: 20px
		width: 100%

	.containerVideos iframe
		width: 100%

	.containerVideos h3
		margin-top: 80px

	#ultimoCartaz
		// box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5)
		width: 100vw
		height: auto

@media (min-width: 394px) and (max-width: 618px)
	.convite
		margin: 60px
	#ultimoCartaz
		width: 100vw
		height: auto
		// box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5)

@media (min-width: 619) and (max-width: 768px)
	.videoEquipe
		width: 90%
		height: 90% auto

	.containerVideos iframe
		width: 90%

#ultimoCartaz
	width: 100vw
	height: auto