.btn1{
    border: none;
    /* background: #77eb20; */
    background: #9beab9;
    color: white;
    /* height:40px; */
    /* width:100px; */
    padding:8px;
    font-weight:bold;
    font-size:20px;
    margin:30px;
    user-select:none;
    cursor:pointer;
    border-radius:5px;
    text-align:center;            
}
.btn1:hover{
    background: #3cad68;
    transition: .2s;
}

.btnW:hover{
    color: white;
    transition: .2s;
}

