@charset "UTF-8";
.containerCards {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center; }

.limiteImg {
    display: block;
    width: max-content;
    height: 200px;
    overflow: hidden; 
    text-align: center;
}

/* .imgCard {
    width: 250px;
    height: auto;
    background-size: cover;
    background-position: 100px 100px;
    border-radius: 5px;
} */

.imgCard {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    /* margin: auto; */
}

.imgCardJef{
    position: relative;
    /* top: -50px; */
}

.imgCardMau{
    position:static;
    /* top: 5px; */
}

.imgCardEve{}

.h2Card{
     margin: 15px;
}

/* ESTICA CARTAO => .cartao-Estica */
.cartao-Estica {
    /* width: fit-content  */
    width: 250px;
    height: auto;
    border: transparent 1px black;
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 2px 2.5px 0 #000;
    /* box-shadow: 8px 8px 8px 0 #a6a6a6  */
    margin: 8px;
    background-color: white;
    /* Velocidade da transformação */
    transition: transform 0.2s ease-in-out;
    overflow: hidden; }

/* crescer o card */
.cartao-Estica:hover {
    box-shadow: 8px 8px 15px 0 #000;
    /* box-shadow: 8px 8px 15px 0 #a6a6a6  */
    transform: scale3d(1.1, 1.1, 1); }

.btnCard {
    display: inline-block;
    color: white;
    font-weight: 200;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 5px;
    border: none; 
    box-shadow: .8px .8px 5px 0 #000;
}

.instagram:hover {
    color: black; 
    box-shadow: 2px 2px 12px #000;
}

.whatsapp:hover {
    color: black; 
    box-shadow: 2px 2px 12px #000;
}

.instagram{
    background-color: #C13584;
}

.whatsapp{
     background-color: #25D366;
}