@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* verde/azul claro */
/* verde médio */
body {
     background: linear-gradient(#9beab9, #77eb20);
     overflow-x: hidden;
}

.flexAlinhaColuna, .contato, .containerGrupoWhats, .containerInformacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: auto;
    height: 250px;
}

a {
    text-decoration: none;
}

@media (max-width: 393px) {}
  
@media (min-width: 394px) and (max-width: 618px) {}

@media (min-width: 619px) and (max-width: 768px) {}

@media (min-width: 769px) {}